version: '3.8'

volumes:
  postgres_data:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:12.4
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  web:
    image: alyoshasu/yamdb:v1.0
    restart: always
    volumes:
      - ./fixtures.json:/code/fixtures.json
      - static_volume:/code/static
      - media_volume:/code/media
    depends_on:
      - db
    env_file:
      - ./.env
  nginx:
    image: nginx:1.19.7
    restart: always
    volumes:
      - ./nginx_default/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/var/www/static
      - media_volume:/var/ww/media
    ports:
      - "80:80"
    depends_on:
      - web
