name: yamdb_final workflow

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -r requirements.txt

      - name: Lint with flake8
        run: flake8 .

      - name: Test with pytest
        run: pytest

  build_and_push_to_docker_hub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: alyoshasu/yamdb_final:latest

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build_and_push_to_docker_hub
    steps:
      # Step 1: Checkout
      - uses: actions/checkout@v2

      # Step 2: Add SSH credentials to your GitHub CI/CD instance
      - name: Add SSH Credentials
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }} # required, this will be used when transferring files to your deploy targets
          known_hosts: ${{ secrets.HOST }} # required, should match up with your deploy targets (see below)

      # Step 3: Deploy!
      - name: Deploy to Staging
        uses: JorgenVatle/docker-compose-deploy@v1.0
        with:
          deploy_targets: ${{ secrets.HOST }} # required, comma separated list of servers to deploy to.

          ssh_user: ${{ secrets.USER }} # optional, user to connect to deploy targets with. Defaults to 'root'
          compose_file: 'docker-compose.yaml' # optional, path/filename of your docker-compose file. Defaults to 'docker-compose.yml'
#          validate_container: 'app' # optional, validate that the given container name is running. Otherwise, throw an error. Defaults to 'app'

  send_message:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: ${{ github.workflow }} успешно выполнен!
